:root{
  --clr-egyptian-blue: #0235a4;
  --clr-celestial-blue: #399be1;
  --clr-bg-cedula: #c8deed;
  --clr-sombra-cedula: #000000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 14px;
  font-family: sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}